// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Navbar
.navbar-laravel {
    background-color: $blue;
    padding: 5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    & a {
        color: $white;
        transition: all 0.3s ease 0s;

        :hover {
            background-color: $blue;
            color: #fff;
            transform: translateY(-7px);
        }
    }
}

div.dropdown-menu.dropdown-menu-right.show {
    & a {
        color: $black;
    }
}

a.nav-link:hover {
    background-color: $blue;
    color: #fff;
    transform: translateY(-7px);
}

//Footer
.footer {
    background-color: $blue;
    padding: 5vh;

    & a {
        color: $white;
    }

    color:$white;
}

// style till hr
.red-border {
    border: 1px solid red;
  }
  
  .blue-border {
    border: 5px solid #006f94; 
    border-radius: 50px;
  }