// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Navbar
.navbar-laravel {
    background-color: $blue;
    padding: 5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    & a {
        color: $white;
        transition: all 0.3s ease 0s;

        :hover {
            background-color: $blue;
            color: #fff;
            transform: translateY(-7px);
        }
    }
}

div.dropdown-menu.dropdown-menu-right.show {
    & a {
        color: $black;
    }
}

a.nav-link:hover {
    background-color: $blue;
    color: #fff;
    transform: translateY(-7px);
}

//Footer
.footer {
    background-color: $blue;
    padding: 5vh;

    & a {
        color: $white;
    }

    color:$white;
}

// style till hr
.red-border {
    border: 1px solid red;
  }
  
  .blue-border {
    border: 5px solid #006f94; 
    border-radius: 50px;
  }

.products {
    margin: 4rem;

}

.img-responsive {
    max-height: 150px
}

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.footer {
    margin-top: 60vh;
}
